name: CI Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.29
        env:
          MYSQL_ROOT_PASSWORD: tempdbpassword
          MYSQL_DATABASE: pizza
        ports:
          - '3306:3306'
        options: >-
          --health-cmd="mysqladmin ping -ptempdbpassword"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm ci

      - name: Write config file
        run: |
          echo "module.exports = {
            jwtSecret: '${{ secrets.JWT_SECRET }}',
            db: {
              connection: {
                host: '127.0.0.1',
                user: 'root',
                password: 'tempdbpassword',
                database: 'pizza',
                connectTimeout: 60000,
              },
              listPerPage: 10,
            },
            factory: {
              url: 'https://pizza-factory.cs329.click',
              apiKey: '${{ secrets.FACTORY_API_KEY }}',
            },
          };" > src/config.js

      - name: Write version file
        run: |
          echo "{\"version\": \"$(date +'%Y%m%d.%H%M%S')\"}" > src/version.json

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm test

      - name: Update coverage badge
        run: |
          coverage=$(cat coverage/coverage-summary.json | jq '.total.lines.pct')
          color=$(if (( $(echo "$coverage < 80" | bc -l) )); then echo "red"; else echo "green"; fi)
          curl "https://pizza-factory.cs329.click/api/badge/${{ secrets.NET_ID }}/jwtpizzaservicecoverage" \
            -X POST \
            -H 'authorization: bearer ${{ secrets.FACTORY_API_KEY }}' \
            -H 'Content-Type: application/json' \
            -d '{"label": "Coverage", "message": "'"$coverage"'%", "color": "'"$color"'"}'
